[user]
	name = vaterp
	email = brian.snyder@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff

[alias]
	pom = push origin master
	b = branch
	ba = branch -a
	ci = commit
	co = checkout
	d = diff
	ds = diff --stat
	dc = diff --cached
	dcs = diff --cached --stat
	fp = format-patch
	g = !git gui &
	lg = log --graph
	lgo = log --graph --pretty=oneline --abbrev-commit
	k = !gitk &
	ka = !gitk --all &
	lc = log ORIG_HEAD.. --stat --no-merges
	lp = log --patch-with-stat
	mnf = merge --no-ff
	mnff = merge --no-ff
	mt = mergetool
	p = format-patch -1
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	sra = svn rebase --all
	sh = !git-sh
	ssu = status -s -uno
	st = status
	stm = status --untracked=no
	stfu = status --untracked=no
	pullsrb = !git stash save && git pull --rebase && git stash pop && echo 'Success!'
